body {
    /* top padding*/
    background-color: #f5f5f5;
}

.center-content{

    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-image{
 /* img kleiner
    img centered*/
}

#image_upload
{
    display: none;
}

#profile-image
{
    cursor: pointer;
}

.jumbotron{
    background: white;
    padding: 2rem;
}

/* test image cropper for round img */
.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
.profile-pic {
    display: inline;
    margin: 0 auto;
    margin-left: -25%; //centers the image
height: 100%;
    width: auto;
}


